.navbar {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
  }
  
  .navbar .leftSide {
    flex: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 150px;
  }
  
  .navbar .leftSide img {
    width: 70px;
  }
  
  .navbar .rightSide {
    flex: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }

.rightSide .dropdown{
  position: relative;
  display: inline-block;
}

.rightSide .dropdown .list{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.rightSide .dropdown .list a{
  display: block;
}

.dropdown:hover .list{
  display: block;
}
  
  
  .navbar .rightSide a:hover{
    text-decoration: underline;
    color: rgb(93, 255, 29);

}
.navbar .rightSide #rdv{
  background-color: black;
color: white;
border-radius: 5px;
padding: 5px;
}
.navbar .rightSide #rdv:hover{
background-color: rgb(93, 255, 29);
color: white;
border-radius: 5px;
padding: 5px;
}
  
  
  .navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
    
    
  }
  
  .navbar .rightSide button {
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
  }
  
  .navbar .rightSide svg {
    font-size: 40px;
  }
  
  .navbar #open {
    padding-left: 0px;
  }
  .navbar #open img {
    display: none;
  }
  
  .navbar #close img {
    display: inherit;
  }
  
  .navbar #open .hiddenLinks {
    display: inherit;
    margin-left: 30px;
  }
  
  .navbar #close .hiddenLinks {
    display: none;
  }
  
  .navbar #open a {
    width: 70px;
    margin: 5px;
  }
  @media only screen and (max-width: 900px) {
    .navbar .rightSide a {
      width: 70px;
    }
    .navbar .leftSide {
      padding-left: 50px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .navbar .rightSide a {
      display: none;
    }
  
    .navbar .rightSide {
      justify-content: flex-end;
      padding-right: 50px;
    }
  
    .navbar .rightSide button {
      display: inherit;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .navbar .rightSide button {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  }


.hiddenLinks a:hover{
    text-decoration: underline;
    color: rgb(93, 255, 29);

}

